*{
    font-family: 'sofia', 'Courier New', Courier, monospace;
}

body{
    background: url('img/bg.img');
    background-color: #5DADE2;
}

.main-div{
    max-width: 400px;
    max-height: 900px;
    min-height: auto;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    box-shadow: 5px 10px 10px 5px rgb(67, 80, 80);
}

.heading{
    background-color: #5DADE2;
    color: white;
    font-size: 50px;
}

.heading>p{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.display{
    padding: 0;
    margin: 0;
    font-size: 20px;
}

#history{
    font-size: small;
    padding-right: 50px;
    padding-bottom: 5px;
    text-align: right;
    color: #99A3A4;
}

input{
    border: none;
    outline: none;
    font-size: 30px;
    text-align: right;
    flex-grow: 1;
    width: 90%;
}

.flex{
    display: flex;
    justify-content: center;
}

.button{
    background-color: #3498DB;
}

button{
    width: 80px;
    height: 70px;
    border: none;
    background-color: #3498DB;
    font-size: larger;
    color: white;
    flex-grow: 1;
}

button:onclick{
    background-color: aqua;
}

button:hover{
    background-color: #5DADE2;
}

.operator-btn:hover{
    background-color: #5D6D7E;
}
.c-btn:hover{
    background-color: #F1948A;
}
.remove-btn:hover{
    background-color: #F7DC6F;
}
.equal-btn:hover{
    background-color: #82E0AA;
}